Console/Algorithms/bin/
Console/Algorithms/obj/
Console/Analytics/obj/
Console/Analytics/bin/
Console/Console/bin/
Console/Console/obj/
Console/Logic/obj/
Console/Logic/bin/
Console/Outputs/bin/
Console/Outputs/obj/
Console/.vs/
